PORT=:8080

DB_HOST=localhost
DB_PORT=5432
DB_NAME=smartcar
DB_USER=admin
DB_PASSWORD=password
DB_SSLMODE=disable

MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_ACTIONS=smartcar/actions

ESP32_URL=http://192.168.31.150