# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build output
*.test
*.out

# Compiled binary
smartcar-backend

# Go workspace
go.work
go.work.sum

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

tmp